<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <title>Admission patient</title>
	    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">	    <!----css3---->
        <link rel="stylesheet"  href="css/custom.css">
	
		<!--google fonts -->
	    <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
	
	
	   <!--google material icon-->
      <link href="https://fonts.googleapis.com/css2?family=Material+Icons"rel="stylesheet">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
   



  </head>
  <body>
  
<div class="wrapper">
     
	  <div class="body-overlay"></div>
	 
	 <!-------sidebar--design------------>
	 
	 <div id="sidebar">
    <div class="sidebar-header">
      <img src="../img/log2.png" class="img-fluid rounded" style="height: 50px;"/><span>
    </div>
  <ul class="list-unstyled component m-0">
    <li class="active">
    <a href="index_admin" class="dashboard"><i class="material-icons">dashboard</i>Tableau de bord</a>
    </li>	
    <li class="">
      <a href="admin_medecin" class="">
        <i class="material-icons">medical_services</i>Medecin
      </a>
    </li>
    <li class="">
      <a href="admin_patient" class="">
          <i class="material-icons">person</i>Patient
      </a>
  </li>
    <li class="">          
      <a href="admin_infirmiere" class="">            
         <i class="material-icons">local_hospital</i>Infirmier         
      </a>       
   </li> 
   <li class="">
      
    <a href="admin_notification" class="">
      
      <i class="material-icons">notifications</i><span class="notification text-bg-danger"></span></span> notifications
      <span class="notification" style="border-radius: 100%;"></span>
    </a>
  </li>
    <li class="">          
        <a href="admin_dossier" class="">            
          <i class="material-icons">folder_open</i>
          dossier médical         
        </a>       
    </li>
    <li class="">
      <a href="index_service" class="">
        <i class="material-icons">hotel</i>Infrastructure
      </a>
    </li>
    <li class="">          
      <a href="admin_parametres" class="">            
        <i class="material-icons">settings</i>Paramètres         
      </a>       
    </li> 
  </ul>
 </div>
	 
   <!-------sidebar--design- close----------->
   
   
   
      <!-------page-content start----------->
   
      <div id="content">
	   	  <!------top-navbar-start-----------> 
		     
         <div class="top-navbar">
          <div class="xd-topbar">
            <div class="row">
              <div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
               <div class="xp-menubar">
                 <span class="material-icons text-white">signal_cellular_alt</span>
             </div>
            </div>
            
            <div class="col-md-5 col-lg-3 order-3 order-md-2">
             
            </div>
            
            
            <div class="col-10 col-md-6 col-lg-8 order-1 order-md-3">
              <div class="xp-profilebar text-right">
               <nav class="navbar p-0">
                <ul class="nav navbar-nav flex-row ml-auto">
                
                
             </nav>
            </div>
          </div>
        </div>
          
          <div class="xp-breadcrumbbar text-center">
             <h4 class="page-title" style="color: yellow;">DOSSIERS MEDICAUX</h4>
           <ol class="breadcrumb">
             <li class="breadcrumb-item"><a href="#">DOSSIERS</a></li>
             <li class="breadcrumb-item active" aria-curent="page">SERVICE</li>
           </ol>
          </div>   
        </div>
       </div>	  
		  
		   <!------main-content-start-----------> 

       <div class="main-content" >
        <div class="row">
         <div class="col-md-12">
          <div class="table-wrapper">
            
          <div class="table-title bg-dark" >
            <div class="row">  
              <form class="form-inline ml-auto float-right" method="post" action="/search">
                <input class="form-control mr-sm-2" type="search" placeholder="rechercher" aria-label="rechercher" name="nom">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
                  <i class="fas fa-search"></i> 
              </button>
              </form>
            </div>
          </div>
        <br>
<div class="container">

<!----  Start  reciproque ----->	

<% if (admission && admission.length > 0) { %>
  <% admission.forEach((admission, index) => { %>
    <button style="height: 40px" class="btn btn-outline-dark btn-block text-left mt-2" type="button" data-toggle="collapse" data-target="#collapsetwo<%= index %>" aria-expanded="false" aria-controls="collapsetwo<%= index %>">
      <%= admission.nom %>
      <span class="fas fa-chevron-down float-right" aria-hidden="true">
      <span><i class="material-icons">person</i>
  </button>
    <div id="collapsetwo<%= index %>" class="collapse">
      <div class="card card-body">
        <div class="bg-dark text-center">
          <H1 class="text-white"> DOSSIER MEDICAL</H1>
          <h3 class="text-danger"> <%= admission.nom %></h3>
        </div>
        <br>
        <ul>
          <li>
            <label class="text-info">Motif d'admission : <strong class="text-dark"><%= admission.motif %></strong></label>
            
          </li>
          <li>
            <label class="text-info"><u>Diagnostique :</u> </label>
            <p><strong class="text-dark"><%= admission.diagnostique %></strong></p>
            <br>
          </li>
          <li>
            <label class="text-info">Date d'admission : <strong class="text-dark"><%= admission.date_admis %></strong></label>
          </li>
          <li>
            <label class="text-info">Date de sortie : <strong class="text-dark"><%= admission.date_sortie %></strong></label>
          </li>
          <li>
            <label class="text-info"><u>état de sortie du malade</u></label><br>
            <strong class="text-dark"><%= admission.etat_sortie %></strong>
            
          </li>
          <li>
            <label class="text-info">Médecin: <strong class="text-dark"> Dr <%= admission.medecin %></strong></label>
          </li>
          <li>
            <label class="text-info">Infirmier: <strong class="text-dark"> M./Mme. <%= admission.infirmier %></strong></label>
          </li>
          <li>
            <label class="text-info">Salle du patient: <strong class="text-dark"> <%= admission.salle %></strong></label>        
          </li>
          <li>
            <label class="text-info">numéro du lit: <strong class="text-dark"><%= admission.lit %></strong></label>
          </li>
          <li>
            <label class="text-info">garde malade: <strong class="text-dark"><%= admission.garde %></strong></label>
          </li>
        </ul>
        <a href="#modifossiertmodal<%= admission.id %>" class="modifier" data-toggle="modal">
          <span style="display: flex; justify-content: flex-end;">
            <i class="fas fa-edit" style="color: rgb(49, 7, 126); font-size: 30px;"></i>
          
        </a>
      </div>
    </div>
    <br>
  <% }) %>
<% } else { %>
  <tr>
    <td colspan="2">aucun résultat trouvé.</td>
  </tr>
<% } %>


<!----  fin  reciproque ----->	

<!----  modifier un dosssier ----->	 
<% for (let i=0; i<admission.length; i++) { %>
  <div class="modal fade" id="modifossiertmodal<%= admission[i].id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h5 class="modal-title text-white" id="myModalLabel">Editer du dossier D'admission</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="/edit9/<%= admission[i].id %>">
          <div class="row">  
            
            <div class="col-md-4">
              <label for="id" class="text-danger">Numero dossier</label>
              <input type="text" class="form-control" id="id"  name="id"  value="<%= admission[i].id %>" readonly>
            </div>
            <div class="col-md-4">
              <label for="nom" class="text-dark">Nom et prénom</label>
              <input type="text" class="form-control" id="nom"  name="nom"  value="<%= admission[i].nom %> <%= admission[i].prenom %>" readonly>
            </div> 
            <div class="col-md-4">
              <label for="motif">Motif d'Admission:</label>
            <select class="custom-select" id="motif" name="motif" value="<%= admission[i].motif %>">
              <option selected><%= admission[i].motif %></option>
              <option value="Suivi">Suivi</option>
              <option value="Hospitalisation">Hospitalisation</option>
            </select>
             </div>
  
            <div class="col-md-4">
              <label for="diagnostique" class="text-success">Diagnostique</label>
                <textarea class="form-control" type="text" id="diagnostique" name="diagnostique" readonly><%= admission[i].diagnostique %></textarea>
            </div>

            <div class="col-md-4">
              <label for="etat_sortie" class="text-success">Etat de Sortie</label>
                <textarea class="form-control" type="text" id="etat_sortie" name="etat_sortie" readonly><%= admission[i].etat_sortie %></textarea>
            </div>
  
            <div class="col-md-4">
              <label for="date_admis" class="text-success">date admission</label>
              <input type="date" id="date_admis" name="date_admis" class="form-control" value="<%= admission[i].date_admis %>" >
            </div>
            <div class="col-md-4">
              <label for="date_sortie" class="text-success">date sortie</label>
              <input type="date" id="date_sortie" name="date_sortie" class="form-control" value="<%= admission[i].date_sortie %>">
            </div>
            <div class="col-md-4">
              <label for="salle" class="text-success">Salle</label>
              <select class="custom-select" id="salle" name="salle" value="<%= admission[i].salle %>">
                <option selected><%= admission[i].salle %></option>
                  <% salles.forEach(function(numero) { %>
                      <option><%= numero %></option>
                  <% }); %>
              </select>
            </div>
  
            <div class="col-md-4">
              <label for="lit" class="text-success">Lit</label>
              <select class="custom-select" id="lit" name="lit">
                <option selected><%= admission[i].lit %></option>
                  <% lits.forEach(function(numero) { %>
                      <option><%= numero %></option>
                  <% }); %>
              </select>
            </div>
      
            <div class="col-md-4">
              <label for="medecin" class="text-success">médecin</label>
              <select class="custom-select" id="medecin" name="medecin" >
                <option selected><%= admission[i].medecin %></option>
                  <% medecins.forEach(function(nom) { %>
                      <option ><%= nom %></option>
                  <% }); %>
              </select>
            </div>
  
            <div class="col-md-4">
              <label for="infirmier" class="text-success">Infirmier</label>
              <select class="custom-select" id="infirmier" name="infirmier" value="<%= admission[i].medecin %>">
                <option selected><%= admission[i].infirmier %></option>
                  <% infirmieres.forEach(function(nom) { %>
                      <option><%= nom %></option>
                  <% }); %>
              </select>
            </div>
  
            <div class="col-md-4">
              <label for="garde" class="text-success">gade malade</label>
              <select class="custom-select" id="garde" name="garde" value="<%= admission[i].garde %>">
                <option selected><%= admission[i].garde %></option>
                  <% gardes.forEach(function(nom) { %>
                      <option selected><%= nom %></option>
                  <% }); %>
              </select>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button"  class="btn btn-danger" data-dismiss="modal">Fermer</button>
          <button type="submit" id="btnEnregistrer" class="btn btn-primary">Enregistrer</button>
        </div>
        
      </form>
      </div>
    </div>
  </div>
  </div>
  <% } %>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
  
    <!-- annimer fenetre -->
	<script type="text/javascript">
		$(document).ready(function(){
		   $(".xp-menubar").on('click',function(){
			 $("#sidebar").toggleClass('active');
			 $("#content").toggleClass('active');
		   });
		   
		   $('.xp-menubar,.body-overlay').on('click',function(){
			  $("#sidebar,.body-overlay").toggleClass('show-nav');
		   });		   
		});
   </script>
  </body>
  </html>


